<form class="login-form" {{action "login" on="submit"}}>
  <div class="login-form-name">
    <label>Username</label>
    {{input value=nickname placeholder="john.doe"}}
  </div>
  <div class="login-form-password">
    <label>Password</label>
    {{input value=password type="password"}}
  </div>
  <button>Login</button>
</form>
